.skills-section {
  display: grid;
  justify-content: center;
  padding: 0 18%;
  width: 100%;
  height: 100%;
  margin: 50px 0;
}

.heading-skills {
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
}

.heading-skills h3 {
  font-size: 20px;
  color: var(--main-color);
  font-weight: var(--font-weight);
}

.heading-skills h2 {
  font-size: var(--h2-font);
  font-weight: var(--font-weight);
  margin: 7px 0px 10px;
  line-height: 1.1;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color);
  max-width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.skill-card {
  display: grid;
  justify-content: center;
  height: 150px;
  width: 130px;
  text-align: center;
  align-items: center;
  margin: 0 10px;
}

.img-card {
  width: 100px;
}

.skill-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skill-name {
  position: static;
  font-size: 19px;
  font-weight: var(--font-weight);
}

@media (max-width: 1425px) {
  .skills-section {
    padding: 0 3%;
  }
}

@media (max-width: 800px) {
  .skills-section {
    height: 90%;
  }
}

@media (max-width: 540px) {
  .heading-skills {
    margin-bottom: 20px;
  }
}