.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 64%;

    margin: 100px auto;
    padding: 70px 150px;
    border-radius: 12px;

    background: #8067f0eb;
    /* background: #f06767eb; */
    /* background: #ed4d4deb; */
    background-image: url(../assets/background/intro.png);
    /* background-size: cover; */
}
.contact-container_text h3{
    font-size: 30px;
    font-weight: var(--font-weight);
    margin-bottom: 3px;
    color: var(--bg-color);

}
.contact-container_text p {
    font-size: var(--p-font);
    color: var(--bg-color);
    line-height: 26px;
    margin-bottom: 25px;
}
.contact-action form input[type="email"] {
    max-width: 100%;
    width: 470px;
    padding: 12px 15px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    margin: 0px 10px 20px 0px;
    border-radius: 30px;
}
.contact-action form input[type="submit"] {
    padding: 12px 40px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border: none;
    margin: 0px 10px 20px 0px;
    border-radius: 30px;
    cursor: pointer;
}

@media (max-width: 1425px) {
    .contact-section {
        width: 95%;
        transition: .3s;
    }
}
@media (max-width: 540px) {
    .contact-action form input[type="email"] {
        width: 310px;
    }
}