.home-section {
    display: grid;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 100px 18%;
    background: url(../assets/background/background.jpg);
    background-size: cover;
    background-position: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}
.home-text h1 {
    margin: 10px 0px 25px;
    font-size: 4.8rem;
    line-height: 1;
    font-weight: var(--font-weight);
}
.home-text h5 {
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: var(--font-weight);
}
.span-home {
    color: var(--main-color);
}
.home-text h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: var(--font-weight);
}
.home-text p {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    margin-bottom: 20px;
}

.social a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(128,103,240,1);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
}
.social a:hover {
    transform: scale(1.1);
    background: var(--main-color);
    transition: 0.5s;
}
.btn-see_projects {
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: var(--font-weight);
    line-height: 24px;
    border-radius: 30px;
    transition: ease .40s;
}
.btn-see_projects:hover {
    transform: scale(1.1);
}
.home-img {
    width: 400px;
    height: 600px;
    margin-top: 50px;
}
/* .home-img {
    position: absolute;
    max-width: 100%;
    left: 400px;
    top: 100px;
    margin-top: 100px;
} */
.home-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}